.dark-theme {
          --bg-color-neutral-background1: #353535;
  --bg-color-neutral-background2: #313131;
  --bg-color-neutral-background3: #272727;
  --bg-color-neutral-background4: #232323;
  --bg-color-neutral-background5: #1c1c1c;
  --bg-color-neutral-background6: #141414;
  --bg-background-disabled: #141414;
  --bg-color-brand-background: #ffcc33;
  --bg-color-brand-background-hover: #f0b400;
  --bg-color-brand-background-pressed: #957000;
  --bg-color-brand-background-selected: #d6a100;
  --bg-color-brand-background2: #5a4400;
  --bg-color-subtle-background: #ffffff00;
  --bg-color-subtle-background-hover: #383838;
  --bg-color-subtle-background-pressed: #2e2e2e;
  --bg-color-subtle-background-selected: #333333;
  --bg-color-subtle-background-transparent: #ffffff00;
  --bg-color-transparent-background: #00000000;
  --bg-color-neutral-background1-hover: #313131;
  --bg-color-neutral-background1-pressed: #272727;
  --bg-color-neutral-background1-selected: #404040;
  --bg-color-neutral-background2-hover: #313131;
  --bg-color-neutral-background2-pressed: #272727;
  --bg-color-neutral-background2-selected: #383838;
  --fg-color-neutral-foreground1: #ffffff;
  --fg-color-neutral-foreground3: #adadad;
  --fg-color-neutral-foreground4: #999999;
  --fg-color-neutral-foreground-disabled: #5c5c5c;
  --fg-color-neutral-foreground-on-brand: #000000;
  --fg-color-neutral-foreground2: #d6d6d6;
  --fg-color-neutral-foreground2-brand-hover: #ffcc33;
  --fg-color-neutral-foreground2-brand-pressed: #f0b400;
  --fg-color-neutral-foreground2-brand-selected: #ffcc33;
  --fg-color-brand-foreground2: #ffcc33;
  --fg-color-brand-foreground1: #f0b400;
  --stroke-color-neutral-stroke-on-brand: #181818;
  --stroke-color-neutral-stroke-disabled: #424242;
  --stroke-color-neutral-stroke-accessible: #adadad;
  --stroke-color-neutral-stroke-accessible-hover: #bdbdbd;
  --stroke-color-neutral-stroke-accessible-pressed: #b3b3b3;
  --stroke-color-neutral-stroke-accessible-selected: #ffcc33;
  --stroke-color-neutral-stroke1: #666666;
  --stroke-color-neutral-stroke1-hover: #757575;
  --stroke-color-neutral-stroke1-pressed: #6b6b6b;
  --stroke-color-neutral-stroke1-selected: #707070;
  --stroke-color-neutral-stroke2: #525252;
  --stroke-color-neutral-stroke3: #3d3d3d;
  --stroke-color-stroke-focus2: #ffffff;
  --stroke-color-stroke-focus1: #000000;
  --shadow-shadow2: [object Object],[object Object];
  --shadow-shadow4: [object Object],[object Object];
  --shadow-shadow8: [object Object],[object Object];
  --shadow-shadow16: [object Object],[object Object];
  --shadow-shadow28: [object Object],[object Object];
  --shadow-shadow64: [object Object],[object Object];
      }