.dark-theme {
          --color-neutral-foreground-1: #ffffff;
  --color-neutral-foreground-2: #d6d6d6;
  --color-neutral-foreground-3: #adadad;
  --color-neutral-foreground-4: #999999;
  --color-neutral-foreground-disabled: #5c5c5c;
  --color-neutral-foreground-on-brand: #000000;
  --color-neutral-foreground-2-brand-hover: #ffcc33;
  --color-neutral-foreground-2-brand-pressed: #f0b400;
  --color-neutral-foreground-2-brand-selected: #ffcc33;
  --color-neutral-background-1: #353535;
  --color-neutral-background-2: #313131;
  --color-neutral-background-3: #272727;
  --color-neutral-background-4: #232323;
  --color-neutral-background-5: #1c1c1c;
  --color-neutral-background-6: #141414;
  --color-neutral-background-1-hover: #313131;
  --color-neutral-background-1-pressed: #272727;
  --color-neutral-background-1-selected: #404040;
  --color-neutral-background-2-hover: #313131;
  --color-neutral-background-2-pressed: #272727;
  --color-neutral-background-2-selected: #383838;
  --color-neutral-background-disabled: #141414;
  --color-neutral-stroke-1: #666666;
  --color-neutral-stroke-2: #525252;
  --color-neutral-stroke-3: #3d3d3d;
  --color-neutral-stroke-1-hover: #757575;
  --color-neutral-stroke-1-pressed: #6b6b6b;
  --color-neutral-stroke-1-selected: #707070;
  --color-neutral-stroke-accessible: #adadad;
  --color-neutral-stroke-accessible-hover: #bdbdbd;
  --color-neutral-stroke-accessible-pressed: #b3b3b3;
  --color-neutral-stroke-accessible-selected: #ffcc33;
  --color-neutral-stroke-on-brand: #181818;
  --color-neutral-stroke-disabled: #424242;
  --color-brand-foreground1: #f0b400;
  --color-brand-foreground2: #ffcc33;
  --color-brand-background: #ffcc33;
  --color-brand-background-hover: #f0b400;
  --color-brand-background-pressed: #957000;
  --color-brand-background-selected: #d6a100;
  --color-brand-background2: #5a4400;
  --color-subtle-background: #ffffff00;
  --color-subtle-background-hover: #383838;
  --color-subtle-background-pressed: #2e2e2e;
  --color-subtle-background-selected: #333333;
  --color-subtle-background-transparent: #ffffff00;
  --color-transparent-background: #00000000;
  --color-stroke-focus2: #ffffff;
  --color-stroke-focus1: #000000;
  --color-shadow-2: [object Object],[object Object];
  --color-shadow-4: [object Object],[object Object];
  --color-shadow-8: [object Object],[object Object];
  --color-shadow-16: [object Object],[object Object];
  --color-shadow-28: [object Object],[object Object];
  --color-shadow-64: [object Object],[object Object];
      }