.dark-theme {
          --color-neutral-foreground-1: #ffffff;
  --color-neutral-foreground-2: #d6d6d6;
  --color-neutral-foreground-3: #adadad;
  --color-neutral-foreground-4: #999999;
  --color-neutral-foreground-1-hover: #ffffff;
  --color-neutral-foreground-1-pressed: #ffffff;
  --color-neutral-foreground-1-selected: #ffffff;
  --color-neutral-foreground-2-hover: #ffffff;
  --color-neutral-foreground-2-pressed: #ffffff;
  --color-neutral-foreground-2-selected: #ffffff;
  --color-neutral-foreground-3-hover: #d6d6d6;
  --color-neutral-foreground-3-pressed: #d6d6d6;
  --color-neutral-foreground-3-selected: #d6d6d6;
  --color-neutral-foreground-disabled: #5c5c5c;
  --color-neutral-foreground-on-brand: #000000;
  --color-neutral-foreground-2-brand-hover: #ffcc33;
  --color-neutral-foreground-2-brand-pressed: #f0b400;
  --color-neutral-foreground-2-brand-selected: #ffcc33;
  --color-neutral-foreground-3-brand-hover: #ffcc33;
  --color-neutral-foreground-3-brand-pressed: #f0b400;
  --color-neutral-foreground-3-brand-selected: #ffcc33;
  --color-neutral-foreground-inverted-disabled: #ffffff66;
  --color-neutral-foreground-inverted: #ffffff;
  --color-neutral-foreground-inverted-hover: #ffffff;
  --color-neutral-foreground-inverted-pressed: #ffffff;
  --color-neutral-foreground-inverted-selected: #ffffff;
  --color-neutral-foreground-inverted-link: #ffffff;
  --color-neutral-foreground-inverted-link-hover: #ffffff;
  --color-neutral-foreground-inverted-link-pressed: #ffffff;
  --color-neutral-foreground-inverted-link-selected: #ffffff;
  --color-neutral-background-1: #303030;
  --color-neutral-background-2: #292929;
  --color-neutral-background-3: #282828;
  --color-neutral-background-4: #232323;
  --color-neutral-background-5: #191919;
  --color-neutral-background-6: #141414;
  --color-neutral-background-1-hover: #353535;
  --color-neutral-background-1-pressed: #272727;
  --color-neutral-background-1-selected: #404040;
  --color-neutral-background-2-hover: #313131;
  --color-neutral-background-2-pressed: #272727;
  --color-neutral-background-2-selected: #383838;
  --color-neutral-background-disabled: #141414;
  --color-neutral-stroke-1: #666666;
  --color-neutral-stroke-2: #444444;
  --color-neutral-stroke-3: #343434;
  --color-neutral-stroke-1-hover: #757575;
  --color-neutral-stroke-1-pressed: #6b6b6b;
  --color-neutral-stroke-1-selected: #707070;
  --color-neutral-stroke-accessible: #adadad;
  --color-neutral-stroke-accessible-hover: #bdbdbd;
  --color-neutral-stroke-accessible-pressed: #b3b3b3;
  --color-neutral-stroke-accessible-selected: #ffcc33;
  --color-neutral-stroke-on-brand: #181818;
  --color-neutral-stroke-disabled: #424242;
  --color-neutral-stroke-inverted-disabled: #ffffff66;
  --color-neutral-shadow-ambient: #0000003d;
  --color-neutral-shadow-key: #00000047;
  --color-neutral-shadow-ambient-lighter: #0000001f;
  --color-neutral-shadow-key-lighter: #00000024;
  --color-neutral-shadow-ambient-darker: #00000066;
  --color-neutral-shadow-key-darker: #0000007a;
  --color-brand-foreground1: #f0b400;
  --color-brand-foreground2: #ffcc33;
  --color-brand-foreground-link: #f0b400;
  --color-brand-foreground-link-hover: #d6a100;
  --color-brand-foreground-link-pressed: #957000;
  --color-brand-foreground-link-selected: #957000;
  --color-brand-foreground-inverted: #957000;
  --color-brand-foreground-inverted-hover: #d6a100;
  --color-brand-foreground-inverted-pressed: #ffcc33;
  --color-brand-foreground-on-light: #f0b400;
  --color-brand-foreground-on-light-hover: #d6a100;
  --color-brand-foreground-on-light-pressed: #957000;
  --color-brand-foreground-on-light-selected: #957000;
  --color-brand-background: #ffcc33;
  --color-brand-background-hover: #f0b400;
  --color-brand-background-pressed: #957000;
  --color-brand-background-selected: #d6a100;
  --color-brand-background2: #5a4400;
  --color-brand-link: #f0b400;
  --color-brand-link-hover: #d6a100;
  --color-brand-link-pressed: #957000;
  --color-brand-shadow-ambient: #0000001f;
  --color-brand-shadow-key: #00000024;
  --color-subtle-background: #ffffff00;
  --color-subtle-background-hover: #383838;
  --color-subtle-background-pressed: #2e2e2e;
  --color-subtle-background-selected: #333333;
  --color-subtle-background-transparent: #ffffff00;
  --color-transparent-background: #00000000;
  --color-transparent-stroke: #00000000;
  --color-transparent-stroke-interactive: #00000000;
  --color-transparent-stroke-disabled: #00000000;
  --color-stroke-focus2: #ffffff;
  --color-stroke-focus1: #000000;
  --color-compound-brand-foreground1: #ffcc33;
  --color-compound-brand-foreground1-hover: #d6a100;
  --color-compound-brand-foreground1-pressed: #957000;
  --color-compound-brand-background: #f0b400;
  --color-compound-brand-background-hover: #d6a100;
  --color-compound-brand-background-pressed: #957000;
  --color-compound-brand-stroke: #ffcc33;
  --color-compound-brand-stroke-hover: #d6a100;
  --color-compound-brand-stroke-pressed: #957000;
  --shadow-2: [object Object],[object Object];
  --shadow-4: [object Object],[object Object];
  --shadow-8: [object Object],[object Object];
  --shadow-16: [object Object],[object Object];
  --shadow-28: [object Object],[object Object];
  --shadow-64: [object Object],[object Object];
      }