.global-theme {
          --font-family-base: 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
  --font-family-monospace: Consolas, 'Courier New', Courier, monospaceFont;
  --font-family-numeric: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
  --line-heights-base100: 14;
  --line-heights-base200: 16;
  --line-heights-base300: 20;
  --line-heights-base400: 22;
  --line-heights-base500: 28;
  --line-heights-base600: 32;
  --line-heights-base700: 36;
  --line-heights-base800: 40;
  --line-heights-base900: 52;
  --line-heights-base1000: 92;
  --font-weights-regular: 400;
  --font-weights-medium: 500;
  --font-weights-semibold: 600;
  --font-size-base100: 10;
  --font-size-base200: 12;
  --font-size-base300: 14;
  --font-size-base400: 16;
  --font-size-base500: 20;
  --font-size-base600: 24;
  --font-size-hero700: 28;
  --font-size-hero800: 32;
  --font-size-hero900: 40;
  --font-size-hero1000: 68;
  --border-radius-none: 0px;
  --border-radius-small: 2px;
  --border-radius-medium: 4px;
  --border-radius-large: 6px;
  --border-radius-x-large: 8px;
  --border-radius-circular: 10000px;
  --stroke-width-thin: 1;
  --stroke-width-thick: 2;
  --stroke-width-thicker: 3;
  --stroke-width-thickest: 4;
      }