.global-theme {
          --font-families-segoe-ui: Segoe UI;
  --line-heights-0: 16;
  --line-heights-1: 14;
  --line-heights-2: 20;
  --line-heights-3: 24;
  --line-heights-4: 26;
  --line-heights-5: 22;
  --line-heights-6: 40;
  --line-heights-7: 36;
  --line-heights-8: 32;
  --line-heights-9: 52;
  --line-heights-10: 92;
  --line-heights-11: AUTO;
  --font-weights-segoe-ui-regular: Regular;
  --font-weights-segoe-ui-semibold: Semibold;
  --font-weights-segoe-ui-0: Regular;
  --font-weights-segoe-ui-1: Semibold;
  --font-size-0: 10;
  --font-size-1: 12;
  --font-size-2: 14;
  --font-size-3: 16;
  --font-size-4: 18;
  --font-size-5: 20;
  --font-size-6: 24;
  --font-size-7: 28;
  --font-size-8: 32;
  --font-size-9: 40;
  --font-size-10: 68;
  --letter-spacing-0: 0%;
  --paragraph-spacing-0: 0;
  --font-size-font-size-base100: [object Object];
  --font-size-font-size-base200: [object Object];
  --font-size-font-size-base300: [object Object];
  --font-size-font-size-base400: [object Object];
  --font-size-font-size-base500: [object Object];
  --font-size-font-size-base600: [object Object];
  --font-size-font-size-base700: [object Object];
  --font-size-font-size-base800: [object Object];
  --font-size-font-size-base900: [object Object];
  --font-size-font-size-base1000: [object Object];
  --typography-body-1-strong: [object Object];
  --typography-body-1: [object Object];
  --typography-caption-1: [object Object];
  --typography-caption-1-strong: [object Object];
  --typography-caption-2: [object Object];
  --typography-display: [object Object];
  --typography-large-title: [object Object];
  --typography-subtitle-1: [object Object];
  --typography-subtitle-2: [object Object];
  --typography-caption-2-strong: [object Object];
  --typography-title-1: [object Object];
  --typography-title-2: [object Object];
  --typography-title-3: [object Object];
  --typography-body-large: [object Object];
  --text-case-none: none;
  --text-decoration-none: none;
      }