.global-theme {
          --font-families-font-family-base: 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
  --font-families-font-family-monospace: Consolas, 'Courier New', Courier, monospaceFont;
  --font-family-numeric: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
  --line-heights-line-height-base100: 14;
  --line-heights-line-height-base200: 16;
  --line-heights-line-height-base300: 20;
  --line-heights-line-height-base400: 22;
  --line-heights-line-height-base500: 28;
  --line-heights-line-height-base600: 32;
  --line-heights-line-height-base700: 36;
  --line-heights-line-height-base800: 40;
  --line-heights-line-height-base900: 52;
  --line-heights-line-height-base1000: 92;
  --font-weights-font-weight-regular: 400;
  --font-weights-font-weight-medium: 500;
  --font-weights-font-weight-semibold: 600;
  --font-size-font-size-base100: 10;
  --font-size-font-size-base200: 12;
  --font-size-font-size-base300: 14;
  --font-size-font-size-base400: 16;
  --font-size-font-size-base500: 20;
  --font-size-font-size-base600: 24;
  --font-size-font-size-hero700: 28;
  --font-size-font-size-hero800: 32;
  --font-size-font-size-hero900: 40;
  --font-size-font-size-hero1000: 68;
  --border-radius-none: 0;
  --border-radius-small: 2;
  --border-radius-medium: 4;
  --border-radius-large: 6;
  --border-radius-x-large: 8;
  --border-radius-circular: 10000;
  --stroke-width-thin: 1;
  --stroke-width-thick: 2;
  --stroke-width-thicker: 3;
  --stroke-width-thickest: 4;
      }