.light-theme {
          --color-neutral-foreground-1: #242424;
  --color-neutral-foreground-2: #424242;
  --color-neutral-foreground-3: #616161;
  --color-neutral-foreground-4: #707070;
  --color-neutral-foreground-disabled: #bdbdbd;
  --color-neutral-foreground-on-brand: #000000;
  --color-neutral-foreground-2-brand-hover: #957000;
  --color-neutral-foreground-2-brand-pressed: #957000;
  --color-neutral-foreground-2-brand-selected: #5a4400;
  --color-neutral-background-1: #ffffff;
  --color-neutral-background-2: #fcfcfc;
  --color-neutral-background-3: #f9f9f9;
  --color-neutral-background-4: #f3f3f3;
  --color-neutral-background-5: #e2e2e2;
  --color-neutral-background-1-hover: #f5f5f5;
  --color-neutral-background-1-pressed: #eaeaea;
  --color-neutral-background-1-selected: #f5f5f5;
  --color-neutral-background-background-disabled: #f0f0f0;
  --color-neutral-background-2-hover: #f5f5f5;
  --color-neutral-background-2-pressed: #eaeaea;
  --color-neutral-background-2-selected: #f5f5f5;
  --color-neutral-stroke-1: #d1d1d1;
  --color-neutral-stroke-2: #e0e0e0;
  --color-neutral-stroke-3: #f0f0f0;
  --color-neutral-stroke-1-hover: #c7c7c7;
  --color-neutral-stroke-1-pressed: #b3b3b3;
  --color-neutral-stroke-1-selected: #bdbdbd;
  --color-neutral-stroke-accessible: #616161;
  --color-neutral-stroke-accessible-hover: #575757;
  --color-neutral-stroke-accessible-pressed: #4d4d4d;
  --color-neutral-stroke-accessible-selected: #ffcc33;
  --color-neutral-stroke-on-brand: #dadada;
  --color-neutral-stroke-disabled: #e0e0e0;
  --color-stroke-focus1: #ffffff;
  --color-stroke-focus2: #000000;
  --color-brand-foreground1: #957000;
  --color-brand-foreground2: #957000;
  --color-brand-background: #ffcc33;
  --color-brand-background-hover: #f0b400;
  --color-brand-background-pressed: #957000;
  --color-brand-background-selected: #d6a100;
  --color-brand-background2: #fff0c2;
  --color-subtle-background: #00000000;
  --color-subtle-background-hover: #f5f5f5;
  --color-subtle-background-pressed: #e0e0e0;
  --color-subtle-background-selected: #ebebeb;
  --color-subtle-background-transparent: #00000000;
  --color-transparent-background: #ffffff00;
  --shadow-2: [object Object],[object Object];
  --shadow-4: [object Object],[object Object];
  --shadow-8: [object Object],[object Object];
  --shadow-16: [object Object],[object Object];
  --shadow-28: [object Object],[object Object];
  --shadow-64: [object Object],[object Object];
      }