.light-theme {
          --color-neutral-background1: #ffffff;
  --color-neutral-background1-hover: #f5f5f5;
  --color-neutral-background1-pressed: #eaeaea;
  --color-neutral-background1-selected: #f5f5f5;
  --color-neutral-background2: #fcfcfc;
  --color-neutral-background2-hover: #f5f5f5;
  --color-neutral-background2-pressed: #eaeaea;
  --color-neutral-background2-selected: #f5f5f5;
  --color-neutral-background3: #f9f9f9;
  --color-neutral-background4: #f3f3f3;
  --color-neutral-background5: #e2e2e2;
  --color-neutral-background-disabled: #f0f0f0;
  --color-neutral-foreground1: #242424;
  --color-neutral-foreground3: #616161;
  --color-neutral-foreground4: #707070;
  --color-neutral-foreground-disabled: #bdbdbd;
  --color-neutral-foreground-on-brand: #000000;
  --color-neutral-foreground2: #424242;
  --color-neutral-foreground2-brand-hover: #957000;
  --color-neutral-foreground2-brand-pressed: #957000;
  --color-neutral-foreground2-brand-selected: #5a4400;
  --color-neutral-stroke-disabled: #e0e0e0;
  --color-neutral-stroke-accessible: #616161;
  --color-neutral-stroke-accessible-hover: #575757;
  --color-neutral-stroke-accessible-pressed: #4d4d4d;
  --color-neutral-stroke-accessible-selected: #ffcc33;
  --color-neutral-stroke1: #d1d1d1;
  --color-neutral-stroke1-hover: #c7c7c7;
  --color-neutral-stroke1-pressed: #b3b3b3;
  --color-neutral-stroke1-selected: #bdbdbd;
  --color-neutral-stroke2: #e0e0e0;
  --color-neutral-stroke3: #f0f0f0;
  --color-brand-background: #ffcc33;
  --color-brand-background-hover: #f0b400;
  --color-brand-background-pressed: #957000;
  --color-brand-background-selected: #d6a100;
  --color-brand-background2: #fff0c2;
  --color-brand-foreground2: #957000;
  --color-brand-foreground1: #957000;
  --color-subtle-background: #00000000;
  --color-subtle-background-hover: #f5f5f5;
  --color-subtle-background-pressed: #e0e0e0;
  --color-subtle-background-selected: #ebebeb;
  --color-subtle-background-transparent: #00000000;
  --color-transparent-background: #ffffff00;
  --color-stroke-focus1: #ffffff;
  --color-stroke-focus2: #000000;
  --shadow-shadow2: [object Object],[object Object];
  --shadow-shadow4: [object Object],[object Object];
  --shadow-shadow8: [object Object],[object Object];
  --shadow-shadow16: [object Object],[object Object];
  --shadow-shadow28: [object Object],[object Object];
  --shadow-shadow64: [object Object],[object Object];
      }